<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a sample application modeled after Twitter built using Ruby 2.1 and Rails 4.2 and Bootstrap 3.2 frontend framework. It was built primarily using the <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>. 
</p>con