<footer class="footer">
  <small>
    A Twitter clone
    by <a href="https://twitter.com/chadpflores">Chad Flores</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li>Other Work by <a href="http://buildred.co/">BuildRed</a></li>
    </ul>
  </nav>
</footer>